/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #D2B48C;  
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

main {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

article {
 text-align: justify;
     
}

div {
  margin-bottom: 5%;
}

header {
    color: white;
    text-align: center;
    /*https://www.freepik.com/free-photos-vectors/library-background*/
    background-image: url('afbeeldingen/background.jpg');
    background-color: #D2B48C;
    background-blend-mode: darken;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}

a {
 color: black;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
 color: rgb(88, 66, 37);
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    margin-bottom: 0px;
}

img.zweefRechts {
  float: right;
  margin-left:10px;
}

img.imgBorder {
  height: 210px;
  width: 210px;
}

.zweefMidden {
  text-align: center;
}

.smalltext {
 font-size: 0.7em;
}

#imggrote {
  height: 25%;
  width: 15%; 
  max-width: 200px;
  max-height: 400px;
}

/*Inzoomen van plaatjes op bibliotheek */
.zoom {
  transition: transform .2s; 
  width: 210px;
  height: 210px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); 
}

/*Bibliotheek stijlen */
.biebtekst {
  text-align: center; 
}

#biebzweefMidden {
  text-align: center;
}

/*Home pagina stijlen*/
.box {
  height: 400px;
  width: 31%;
  overflow: auto;
  background-color: #ffffff;
  padding-bottom: 10px;
  float: left;
  margin-right: 15px;
  text-align: left;
}

.box2{
  height: 400px;
  width: 31%;
  overflow: auto;
  background-color: #ffffff;
  padding-bottom: 10px;
  text-align: left;
}

.boxes {
  margin-left: 20%;
  margin-right: 20%;
}

.boximg {
  height: 40%;
  width: 100%;
}

/*Booktok stijlen*/
.tiktok {
  height: 210px;
  width: 400px;
}
.tiktokZweefMidden {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*Stijl voor reviews en bestsellers*/
.best {
  margin-bottom: 15%;
}



/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(184, 162, 129);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.4em;
}

nav li a:hover {
    background-color: rgb(197, 170, 129);
}

nav li a.active {
    background-color: #6E260E;
}



