/* Basislayout */

html, body {
    height: 700px;
    padding: 0;
    background-color: #ebebeb;  
    color: #303030;
    font: verdana, ariel, sans-serif;
    
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

article {
 text-align: justify;
     
}

div {
  margin-bottom: 30px;
}

header {
    color: skyblue;
    text-align: center;
    border:2px solid red;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

header.bookheader {
   color: skyblue;
    text-align: center;
    background-image: url("afbeeldingen/boekenkast.jpg");

   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   
}

header.booktokheader {
   color: skyblue;
    text-align: center;
    background-image: url("afbeeldingen/TikTok.jpeg");

   background-position: center;
   background-repeat: no-repeat;
   
}

img.zweefLinks {
    float: left;
    border: solid #303030 5px;
    margin-right: 15px;
}

img.zweefRechts {
  float: right;
  border: solid #303030 5px;
  margin-left:10px;
}

.zweefMidden {
  text-align: center;
}


img.imgBorder {
  height: 210px;
  width: 210px;
}

.naastelkaar {
  
}

.box {
  height: 240px;
  width: 200px;
  overflow: auto;
  background-color: #ffffff;
  padding: 10px;
  float: left;
  margin-right: 10px;
}

.box2{
  height: 240px;
  width: 200px;
  overflow: auto;
  background-color: #ffffff;
  padding: 10px;
  margin-right: 10px;
}

#biebzweefMidden {
  text-align: center;
}

#billy {
  height: 210px;
  width: 160px; 
}

#truth {
 height: 210px;
  width: 160px;
}

#addie {
  height: 210px;
  width: 160px;
}

#koningsblauw {
  height: 210px;
  width: 160px;
}

#oneofus {
  height: 210px;
  width: 160px;
}

#achilles {
  height: 210px;
  width: 160px;
} 

.biebtekst {
  text-align: center; 
}


.smalltext {
    font-size: 0.7em;
}

.best {
  margin-bottom: 80px;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}



