/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #D2B48C;  
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

main {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

article {
 text-align: justify;
     
}

div {
  margin-bottom: 30px;
}

header {
    color: white;
    text-align: center;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

img.zweefRechts {
  float: right;
  margin-left:10px;
}

.zweefMidden {
  text-align: center;
}

img.imgBorder {
  height: 210px;
  width: 210px;
}

.box {
  height: 240px;
  width: 200px;
  overflow: auto;
  background-color: #ffffff;
  padding: 10px;
  float: left;
  margin-right: 10px;
}

.box2{
  height: 240px;
  width: 200px;
  overflow: auto;
  background-color: #ffffff;
  padding: 10px;
  margin-right: 10px;
}

.boximg {
  height: 125px;
  width: 125px;
  text-align: center;
}

#biebzweefMidden {
  text-align: center;
}

#imggrote {
  height: 210px;
  width: 160px; 
}

.tiktok {
  height: 210px;
  width: 400px;
  margin-left: 150px;
}

.biebtekst {
  text-align: center; 
}


.smalltext {
 font-size: 0.7em;
}

.best {
  margin-bottom: 80px;
}

a {
 color: black;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
 color: skyblue;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(184, 162, 129);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(197, 170, 129);
}

nav li a.active {
    background-color: #6E260E;
}



